<div>
  <input type="file" (change)="onFileSelected($event)" accept="video/*">
</div>

<ng-container *ngIf="loadingPercent$ | async as loadingPercent">
  <ng-container *ngIf="!isCompressed; else compressed">
    <div class="loading-block"><h3>Loading: </h3><h1>{{loadingPercent}}%</h1><h3>Please wait...</h3></div>
    <div class="progress-bar">
      <div class="progress" [ngStyle]="{'width': loadingPercent + '%' }"></div>
    </div>
  </ng-container>
</ng-container>

<ng-template #compressed>
  <h3>Video compression completed successfully</h3>
</ng-template>