h1 {
    color: blue;
    text-align: center;
}

h3 {
    text-align: center;
    color: blue;
}

.loading-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.progress-bar {
    width: calc(vw);
    height: 5px;
    border: 1px solid lime;

    .progress{
        height: 100%;
        background-color: blue;
    }
}